{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nombre de vues</th>
                <th>Utilisateur</th>
                <th>Date</th>
            </tr>
            {% for video in videos %}

                <tr>
                    <td>{{ video.id }}</td>
                    <td><a href="{{ path('video_show', {'id': video.id}) }}" >{{ video.title }}</a></td>
                    <td>{{ video.nbViews }}</td>
                    <td>{{ video.user.username }}</td>
                    <td>{{ video.datetime|date("d-m-Y H:i", "Europe/Paris") }}</td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}
