<div class="row border-bottom mb-3">
    {% for video in videos %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2 video-item home-item">
            <a href="{{ path('video_show', {'id': video.id}) }}">
                <div class="video-thumbnail"
                     style="background-image: url('{{ asset(thumbnails_directory ~ video.thumbnail) }}')">
                    <!--<img class="img-responsive" src="{{ asset(thumbnails_directory ~ video.thumbnail) }}" alt="{{ video.title }}">-->
                </div>
                <div>
                    <h3>{{ video.title }}</h3>

                    <div class="metadata">
                        <span>{{ video.user.username }}</span><br>
                        <span>{{ video.nbViews }} views - {{ video.datetime|date("d-m-Y", "Europe/Paris") }}</span>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
