{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div id="main">
        <div id="player">
            <video width="320" height="240" controls>
                <source src="{{ asset(video.path) }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div id="info-video">
            <p id="title-video">{{ video.title }}</p>
            <p id="views-video">{{ video.nbViews }}</p>
            <p id="user-video">{{ video.user.username }}</p>
            <p id="description-video">{{ video.description }}</p>
        </div>
        <div id="comments-video">
            {% for comment in comments %}
                <div class="comment">
                    <span class="username-comment">{{ comment.user.username }}</span><span class="date-comment">{{ comment.datetime|date("d-m-Y H:i", "Europe/Paris") }}</span><br>
                    <p class="body-comment">{{ comment.text }}</p>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
