{% extends 'AppBundle::body.html.twig' %}

{% block title %}{{ video.title }} - {{ video.user.username }} | {% endblock %}

{% block content %}
<div id="video_show">
    <div id="video-entity" class="border-bottom">
            <video controls class="col-lg-8 offset-lg-2 mb-2">
                <source src="{{ vich_uploader_asset(video, 'videoFile') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>

        {# Video info #}
        <div>
            {# First section #}
            <div class="border-bottom mb-3">
                <h3>{{ video.title }}</h3>
                <div class="d-flex align-items-center">
                    <span class="text-secondary mr-auto my-1">{{ video.views | length }} views</span>

                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle bmd-btn-icon" type="button" id="dropdownVideoOption" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownVideoOption">
                                <a class="dropdown-item" href="{{ path("video_edit", {'id': video.id}) }}">Edit</a>
                                <a class="dropdown-item text-danger" href="{{ path("video_delete", {'id': video.id}) }}">Delete</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {# Second section #}
            <div class="px-3">
                <h5 class="m-0">{{ video.user.username }}</h5>
                <small class="text-secondary">Added {{ video.createdAt | date }}</small>
                <p class="mt-2">{{ video.description }}</p>
            </div>
        </div>
    </div>

    <div id="comments" class="py-3 px-3">
        <h5>{{ video.comments|length }} comments</h5>

        {# Comment Form #}
        <div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(commentForm, {attr: {id: 'comment_form'} }) }}
                {{ form_widget(commentForm) }}
                <div class="d-flex flex-row-reverse">
                    <button type="submit" class="btn btn-outline-primary">Publish</button>
                </div>
                {{ form_end(commentForm) }}
            {% else %}
                <div class="mb-2 border-bottom">
                    <p>Please <a href="{{ path("fos_user_security_login") }}">login</a> or <a href="{{ path("fos_user_registration_register") }}">register</a> to post a comment</p>
                </div>
            {% endif %}
        </div>

        {# List comments #}
        <div class="">
            {% for comment in video.comments %}
                <div class="comment">
                    <span class="">{{ comment.user.username }}</span> <small class="text-secondary">{{ comment.createdAt|date("d M Y H:i", "Europe/Paris") }}</small><br>
                    <p class="body-comment">{{ comment.text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}