{% extends 'AppBundle::body.html.twig' %}

{% block content %}

    {% if users is defined %}
        <div class="row border-bottom pb-2 mb-3">
            {% for user in users %}
                <div class="col-md-12 mb-2 home-item">
                    {#<a href="{{ path('user_show', {'id': user.id}) }}">#}
                    <a href="#">
                        {#<div class="video-thumbnail"#}
                        {#style="background-image: url('{{ asset(thumbnails_directory ~ video.thumbnail) }}')">#}
                        {#<!--<img class="img-responsive" src="{{ asset(thumbnails_directory ~ video.thumbnail) }}" alt="{{ video.title }}">-->#}
                        {#</div>#}
                        <div>
                            <h3>{{ user.username }}</h3>

                            <div class="metadata">
                                <span>{{ user.videos | length }} videos</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if videos is defined %}
        <div class="row border-bottom mb-3">
            {% for video in videos %}
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-2 video-item home-item">
                    <a href="{{ path('video_show', {'id': video.id}) }}">
                        <div class="video-thumbnail"
                             style="background-image: url('{{ vich_uploader_asset(video, 'thumbnailFile') }}')">
                        </div>
                        <div>
                            <h3>{{ video.title }}</h3>

                            <div class="metadata">
                                <span>{{ video.user.username }}</span><br>
                                <span>{{ video.nbViews }} views - {{ video.createdAt|date("d-m-Y", "Europe/Paris") }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
